<!DOCTYPE html>
<html>
<head>
	<title>Bought</title>
</head>
<body>
	<h1>Bought</h1>
    
	<a href="/home">Back</a><br>
	<a href="/logout">logout</a> 
	<br>
	<br>

	<table>
		<tr>
		    <th>Product Id</th>
			<th>Category</th>
			<th>Sub-Category</th>
			<th>Brand</th>
			
			

		</tr>

		<% for(var i=0; i < pList.length; i++){ %>
		<tr>
		    <td><%= pList[i].productid %></td>
			<td><%= pList[i].category %></td>
			<td><%= pList[i].subcategory %></td>
			<td><%= pList[i].brand %></td>
			
			
		</tr>
		<% } %>
	</table>
</body>
</html>